@use "./base.scss";

/* Evitar que las imágenes se deformen en móvil */
article img,
article picture img {
  width: 100%;
  max-width: 100%;
  height: auto !important;   /* clave: anula cualquier height:100% */
  display: block;
}